@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:100,400,700,800");

// Webex Space
$webex-width: 70vmin;

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/message.sass";

// Custom
@import "media";
@import "base";
@import "sidebar";
@import "loading";

.ciscospark-space-widget textarea {
  padding: 2px;
  margin: 3px 0;
}

.step-one-initial-container {
  @extend %wh-full;
  display: flex;
  justify-content: center;
  align-items: center;
  .step-one-initial {
    width: 60%;
    cursor: pointer;
    transition: all 0.2s;
    .step-one-initial-hero {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    &:hover {
      transform: scale(1.02);
      background-color: $beige-light;
      box-shadow: 0.1em 0.1em 0.7em 0.2em
        transparentize($color: $beige-light, $amount: 0.2);
    }
  }
}

.roster-card-list {
  width: 500px;
  .box {
    margin: 10px 0;
  }
  h1 {
    font-size: 1.75em;
    font-weight: 400;
  }
}

.avatar-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}

@keyframes load-color-white {
  from {
    color: #fafafa;
  }
  to {
    color: #d8d8d8;
  }
}

.vital-container {
  display: flex;
  width: 540px;
  flex-wrap: wrap;
  h1 {
    font-size: 1.75em;
    font-weight: 400;
    display: block;
    width: 100%;
    margin: 0 10px;
  }
  .vital-card {
    width: 250px;
    margin: 10px;
    padding: 40px 30px;
    border: none;
    border-top: 10px solid #8a4d76;
    border-radius: 5px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .vital-title {
      font-size: 0.9em;
      margin-bottom: 10px;
    }
    .vital-value {
      font-size: 2.75em;
      transition: all 0.75s ease-in-out;
      &.loading {
        font-size: 2em;
        animation-name: load-color-white;
        animation-duration: 0.75s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

.flex {
  &.box {
    padding: 1.1rem;
    transition: all 0.5s ease-in-out;
  }
  .image.is-64x64 {
    width: 4.75vmin;
    height: 4.75vmin;
  }
  .media-content {
    font-size: 0.85em;
  }
}

.webex-space {
  width: $webex-width;
  height: "100%";
}

.next-button {
  border-radius: 100%;
  width: 12vmin;
  height: 12vmin;
  font-size: 1.25em;
  margin: 2vmin;
  transition: all 0.2s ease-in-out;
  &.hide {
    opacity: 0;
  }
}

.step-one-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.step-two-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transition: all 0.75s ease-in-out;
  &.hide {
    transform: scale(0.75);
    opacity: 0;
  }
  h1 {
    font-size: 1.75em;
    font-weight: 400;
  }
}

.generic-text-box {
  width: 500px;
  height: 400px;
  &.h-300 {
    height: 300px;
  }
  &.h-200 {
    height: 200px;
  }
  &.h-150 {
    height: 150px;
  }
  h1 {
    font-size: 1.75em;
    font-weight: 400;
  }
}

.medicine-card-list {
  width: 500px;
  .box {
    margin: 10px 0;
  }
  h1 {
    font-size: 1.75em;
    font-weight: 400;
  }
  .med-icon {
    font-size: 6em;
    margin-bottom: 0.2em;
  }
  p.subtitle {
    font-size: 0.85em;
  }
}

//  Timeline
.page {
  width: 90%;
  padding: 1.5em 1em 1.5em 3em;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  overflow: auto;
}

.timeline {
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.timeline:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  top: 0;
}

.timeline__group {
  position: relative;
}

.timeline__group:not(:first-of-type) {
  margin-top: 4rem;
}

.timeline__year {
  padding: 0.5rem 1.5rem;
  color: var(--uiTimelineSecondaryColor);
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  top: 0;
}

.timeline__box {
  position: relative;
}

.timeline__box:not(:last-of-type) {
  margin-bottom: 30px;
}

.timeline__box:before {
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  z-index: -1;
}

.timeline__date {
  min-width: 65px;
  position: absolute;
  left: 0;

  box-sizing: border-box;
  padding: 0.5em 1em;
  text-align: center;

  background-color: var(--uiTimelineMainColor);
  color: var(--uiTimelineSecondaryColor);
}

.timeline__day {
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.timeline__month {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.timeline__post {
  width: calc(100% - 3vmin);
  padding: 1em;
  border-radius: 2px;
  border-left: 3px solid var(--uiTimelineMainColor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: var(--uiTimelineSecondaryColor);
}

.timeline__content {
  h2 {
    font-size: 1.3em;
    font-weight: 600;
  }
}

@media screen and (min-width: 641px) {
  .timeline:before {
    left: 30px;
  }

  .timeline__group {
    padding-top: 55px;
  }

  .timeline__box {
    padding-left: 140px;
  }

  .timeline__box:before {
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline__date {
    top: 50%;
    margin-top: -4.5vmin;
  }
}

@media screen and (max-width: 640px) {
  .timeline:before {
    left: 0;
  }

  .timeline__group {
    padding-top: 40px;
  }

  .timeline__box {
    padding-left: 20px;
    padding-top: 70px;
  }

  .timeline__box:before {
    top: 90px;
  }

  .timeline__date {
    top: 0;
  }
}

.timeline {
  --timelineMainColor: #4557bb;
  font-size: 16px;
}
