@import "~@momentum-ui/icons/scss/variables";
@import "~@momentum-ui/icons/scss/mixins";
@import "~@momentum-ui/icons/scss/momentum-ui-icons";

.md-button {
  padding: 5px 5.5px;
  border-radius: 50%;
  border: none;
  background: hsl(0, 0%, 86%);
  transition: 0.3s all;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &:hover {
    color: hsl(0, 0%, 96%);
    background: hsl(0, 0%, 66%);
  }
}
.ciscospark-content-container {
  .ciscospark-activity-text {
    h3 {
      font-size: 1.25em;
      font-weight: 600;
    }
  }
}

.md-avatar {
  .md-avatar__img {
    border-radius: 50%;
  }
}

[class*="react-container-message-composer__mentions__highlighter"] {
  top: 2px !important;
}

.ciscospark-controls-container {
  .md-button__container--small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    width: 50%;
    .md-button__label {
      color: hsl(0, 0%, 44%);
      font-size: 0.8em;
    }
    .md-button {
      padding: 5px 5.5px;
      border-radius: 50%;
      border: none;
      background: hsl(0, 0%, 86%);
      transition: 0.3s all;
      cursor: pointer;
      &.md-button--circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: hsl(0, 0%, 96%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;
        .md-icon {
          transform: scale(0.8) translateY(4px);
        }
        &.md-button--mint {
          background: hsl(171, 100%, 41%);
        }
        &.md-activity__chat {
          background: hsl(204, 86%, 53%);
        }
        &.md-activity__camera {
          background: hsl(141, 71%, 48%);
        }
        &.md-activity__files {
          background: hsl(48, 100%, 67%);
        }
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        color: hsl(0, 0%, 96%);
        background: hsl(0, 0%, 66%);
      }
    }
  }
}

.ciscospark-avatar-container {
  border-radius: 50%;
  background: hsl(0, 0%, 86%);
  text-align: center;
  .md-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    font-weight: 800;
  }
}

// for photos

.md-content-file--full,
.md-content-file--three-two {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.md-content__chat-inner-container {
  position: relative;
  width: 348px;
  height: 230px;
  margin-bottom: 8px;
  background-color: #f2f4f5;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  &:hover .md-content__hover {
    visibility: visible;
  }
}

.md-content__chat-three-two {
  height: 232px;
}

.md-content__hover {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;
  bottom: 56px;
  width: 100%;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 4px 4px;
  visibility: hidden;
  align-self: flex-end;
}

.md-content__hover-files {
  display: flex;
  width: 90%;
  margin-top: 5px;
  margin-left: 12px;
  font-family: "CiscoSansTT Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  flex-direction: column;
}

.md-content__hover-icons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 40%;
  margin-right: 3px;
}

.md-content__hover-files--file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 13.375rem;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.md-content__hover-files--file-size {
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  color: #535759;
}

.md-button.md-button--circle[class*="--32"] {
  width: 2rem;
  height: 2rem;
  min-width: 0;
  min-height: 0;
  font-size: 0.875rem;
  line-height: 0.875rem;
  transition: none;
}

.md-button .md-button__children {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
